.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333; /* Fondo oscuro */
  padding: 10px 20px;
}

.navbar a {
  color: white; /* Texto blanco */
  text-decoration: none; /* Sin subrayado */
  margin: 0 15px; /* Espaciado entre enlaces */
  font-size: 18px; /* Tamaño de fuente */
  font-weight: bold;
  transition: color 0.3s ease; /* Transición suave al pasar el mouse */
}

.navbar a:hover {
  color: #ffcc00; /* Cambia el color al pasar el mouse */
  text-decoration: underline; /* Subrayado al pasar el mouse */
}