.navbar {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.navbar a,
.navbar a:visited,
.navbar a:active,
.navbar a:hover,
.navbar a:focus {
  text-decoration: none !important;
}

.navbar a:hover {
  color: #FFCB05;      /* Amarillo Pokémon */
  text-decoration: none;
}